@charset "UTF-8";
/* 文字コードの指定 */
@import "https://fonts.googleapis.com/css?family=Abel";
/* Google Fonts用のCSSを読み込み */
html {
  background: #4b4a5c;
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

header {
  background: rgba(255, 255, 255, 0.5);
  height: 83px;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 21px; }
  header .header_logo a {
    text-decoration: none;
    color: #000; }
    header .header_logo a p {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 13px; }

html {
  font-family: 'Lato', sans-serif; }

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.msg {
  font-family: 'Pacifico', cursive;
  font-size: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  color: #FEFEFE;
  background-color: #1184F0; }

.features {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-transform: uppercase; }
  .features li {
    width: 100%;
    text-align: center;
    padding: .25em; }

.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-left-radius: 100vw;
  background-color: #3d88ce;
  background-color: rgba(12, 106, 194, 0.8); }
  @media (min-width: 768px) {
    .drawer-list {
      width: 40vw; } }
  .drawer-list ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto; }
  .drawer-list li {
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
    /* ie workaround */
    -ms-transform: translatex(-100vw); }
    .drawer-list li:last-child {
      margin-bottom: 2em; }
    .drawer-list li a {
      text-decoration: none;
      color: #FEFEFE;
      text-align: center;
      display: block;
      padding: 1rem;
      font-size: calc(24px - .5vw); }
      @media (min-width: 768px) {
        .drawer-list li a {
          text-align: right;
          padding: .5rem; } }
      .drawer-list li a:hover {
        cursor: pointer;
        background-color: #88c2f8;
        background-color: rgba(17, 132, 240, 0.5); }

input.hamburger {
  display: none; }
  input.hamburger:checked ~ .drawer-list {
    transform: translatex(0);
    border-bottom-left-radius: 0; }
    input.hamburger:checked ~ .drawer-list li {
      transform: translatex(0); }
      input.hamburger:checked ~ .drawer-list li:nth-child(1) {
        transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(2) {
        transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(3) {
        transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(4) {
        transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(5) {
        transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(6) {
        transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(7) {
        transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(8) {
        transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(9) {
        transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(10) {
        transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(11) {
        transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(12) {
        transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(13) {
        transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(14) {
        transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(15) {
        transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(16) {
        transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(17) {
        transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(18) {
        transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(19) {
        transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(20) {
        transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(21) {
        transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(22) {
        transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(23) {
        transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(24) {
        transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(25) {
        transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(26) {
        transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(27) {
        transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(28) {
        transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(29) {
        transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(30) {
        transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(31) {
        transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(32) {
        transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(33) {
        transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(34) {
        transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(35) {
        transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(36) {
        transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(37) {
        transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(38) {
        transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(39) {
        transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(40) {
        transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(41) {
        transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(42) {
        transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(43) {
        transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(44) {
        transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(45) {
        transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(46) {
        transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(47) {
        transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(48) {
        transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(49) {
        transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(50) {
        transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li a {
        padding-right: 15px;
        text-align: center; }
  input.hamburger:checked ~ label > i {
    background-color: transparent;
    transform: rotate(90deg); }
    input.hamburger:checked ~ label > i:before {
      transform: translate(-50%, -50%) rotate(315deg); }
    input.hamburger:checked ~ label > i:after {
      transform: translate(-50%, -50%) rotate(-315deg); }
  input.hamburger:checked ~ label close {
    color: #FEFEFE;
    width: 100%; }
  input.hamburger:checked ~ label open {
    color: transparent;
    width: 0; }

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 40px;
  width: 40px; }
  label.hamburger:hover {
    cursor: pointer; }
  label.hamburger text close,
  label.hamburger text open {
    text-transform: uppercase;
    font-size: .8em;
    align-text: center;
    position: absolute;
    transform: translateY(50px);
    text-align: center;
    overflow: hidden;
    transition: width .25s .35s, color .45s .35s; }
  label.hamburger text close {
    color: transparent;
    right: 0;
    width: 0; }
  label.hamburger text open {
    color: #000;
    width: 100%; }
  label.hamburger > i {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    background-color: #000;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s; }
    label.hamburger > i:before, label.hamburger > i:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      left: 50%;
      background-color: #000;
      content: "";
      transition: transform 0.35s;
      transform-origin: 50% 50%; }
    label.hamburger > i:before {
      transform: translate(-50%, -14px); }
    label.hamburger > i:after {
      transform: translate(-50%, 14px); }

label.hamburger {
  position: fixed;
  top: 10px;
  right: 100px; }

/**
    SCROLLBAR STYLE FOR IE
*/
body {
  scrollbar-base-color: #138a72;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: #1abc9c;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #1abc9c;
  scrollbar-shadow-color: #1abc9c;
  scrollbar-dark-shadow-color: #1abc9c;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.icon {
  display: inline-block;
  width: 5vw;
  height: 4vw;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

@media (max-width: 549px) {
  label.hamburger {
    position: fixed;
    top: 14px;
    right: 25px; } }
#main-eria {
  background: #4b4a5c; }
  #main-eria .container .introduction {
    height: 500px;
    color: #FFF;
    text-align: center; }
    #main-eria .container .introduction .main_name {
      padding: 160px 20px 20px 20px;
      font-size: 60px;
      font-weight: bold; }
      #main-eria .container .introduction .main_name .main_name_in {
        font-size: 41px; }
    #main-eria .container .introduction .main_bun {
      padding: 40px 0px;
      font-size: 28px; }
      #main-eria .container .introduction .main_bun .main_bun_in {
        padding: 6px; }
  #main-eria .container .corporate {
    background: #4b4a5c;
    height: 400px; }
    #main-eria .container .corporate .corporate-content a {
      position: relative;
      display: block; }
      #main-eria .container .corporate .corporate-content a img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        font-family: 'object-fit: cover'; }
      #main-eria .container .corporate .corporate-content a .titole {
        display: none;
        max-width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0; }
        #main-eria .container .corporate .corporate-content a .titole p {
          padding-top: 202px;
          padding-left: 32px;
          color: #FFF;
          font-size: 18px;
          font-weight: bold; }
    #main-eria .container .corporate .corporate-content :hover .titole {
      display: block;
      width: 100%; }
  #main-eria .container .ear {
    color: #4b4a5c;
    padding: 12px; }
  #main-eria .container .ec-site {
    background: #4b4a5c;
    height: 400px; }
    #main-eria .container .ec-site .ec-site-content a {
      position: relative;
      display: block; }
      #main-eria .container .ec-site .ec-site-content a img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        font-family: 'object-fit: cover'; }
      #main-eria .container .ec-site .ec-site-content a .titole {
        display: none;
        max-width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0; }
        #main-eria .container .ec-site .ec-site-content a .titole p {
          padding-top: 202px;
          padding-left: 32px;
          color: #FFF;
          font-size: 18px;
          font-weight: bold; }
    #main-eria .container .ec-site .ec-site-content :hover .titole {
      display: block;
      width: 100%; }
  #main-eria .container .skill {
    text-align: center;
    color: #FFF;
    font-size: 37px;
    padding: 110px 24px 34px 24px;
    font-weight: bold; }
  #main-eria .container .skills {
    height: 400px; }
    #main-eria .container .skills .skill-box-F {
      background: #FFF; }
      #main-eria .container .skills .skill-box-F h1 {
        text-align: center; }
        #main-eria .container .skills .skill-box-F h1 img {
          max-width: 100%;
          padding: 30px 0px; }
      #main-eria .container .skills .skill-box-F h2 {
        font-size: 1.4rem;
        text-align: center;
        font-weight: 600; }
      #main-eria .container .skills .skill-box-F p {
        font-size: 15px;
        padding: 13px; }
    #main-eria .container .skills .skill-box-B {
      background: #000;
      color: #FFF; }
      #main-eria .container .skills .skill-box-B h1 {
        text-align: center; }
        #main-eria .container .skills .skill-box-B h1 img {
          max-width: 100%;
          padding: 42px 0px; }
      #main-eria .container .skills .skill-box-B h2 {
        font-size: 1.4rem;
        text-align: center;
        font-weight: 600; }
      #main-eria .container .skills .skill-box-B p {
        font-size: 15px;
        padding: 13px; }
  #main-eria .container .contact-eria a {
    text-align: center;
    text-decoration: none;
    color: #F6E677; }
    #main-eria .container .contact-eria a .contact-in {
      margin-top: 140px; }
      #main-eria .container .contact-eria a .contact-in span {
        font-size: 33px;
        text-align: center;
        padding-left: 10px; }
        #main-eria .container .contact-eria a .contact-in span img {
          width: 39px; }

@media (max-width: 549px) {
  header {
    height: 86px; }
    header .header_logo {
      width: 50%; }
    header .header_side {
      width: 50%; }

  #main-eria .container .introduction {
    text-align: left; }
    #main-eria .container .introduction .main_name {
      font-size: 32px;
      padding: 130px 20px 20px 20px; }
      #main-eria .container .introduction .main_name .main_name_in {
        font-size: 25px;
        padding-top: 15px; }
    #main-eria .container .introduction .main_bun {
      text-align: left;
      padding: 25px 20px; }
      #main-eria .container .introduction .main_bun .main_bun_in {
        font-size: 15px;
        padding: 10px 0; }
  #main-eria .container .corporate {
    height: 200px; }
    #main-eria .container .corporate .corporate-content a img {
      height: 200px; }
    #main-eria .container .corporate .corporate-content a .titole {
      display: none;
      max-width: 100%;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0; }
      #main-eria .container .corporate .corporate-content a .titole p {
        padding-top: 202px;
        padding-left: 32px;
        color: #FFF;
        font-size: 18px;
        font-weight: bold; }
  #main-eria .container .ec-site {
    background: #4b4a5c;
    height: 200px; }
    #main-eria .container .ec-site .ec-site-content a img {
      height: 200px; }
    #main-eria .container .ec-site .ec-site-content a .titole {
      display: none;
      max-width: 100%;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0; }
      #main-eria .container .ec-site .ec-site-content a .titole p {
        padding-top: 202px;
        padding-left: 32px;
        color: #FFF;
        font-size: 18px;
        font-weight: bold; }
  #main-eria .container .skill {
    font-size: 28px; }
  #main-eria .container .contact-eria a .contact-in {
    margin-top: 850px; } }
#work-eria {
  color: #FFF;
  background: #4b4a5c;
  padding-top: 135px; }
  #work-eria .work-titole {
    text-align: center;
    margin: 50px 0 30px;
    font-size: 37px;
    font-weight: bold; }
  #work-eria .work .works p {
    text-align: center; }
    #work-eria .work .works p img {
      max-width: 100%;
      height: 160px; }
  #work-eria .work .works p {
    font-size: 11px;
    text-align: center;
    margin: 10px 0 20px; }
  #work-eria .contact-eria {
    background: #4b4a5c; }
    #work-eria .contact-eria a {
      text-align: center;
      text-decoration: none;
      color: #F6E677; }
      #work-eria .contact-eria a .contact-in {
        margin-top: 140px;
        margin-bottom: 50px; }
        #work-eria .contact-eria a .contact-in span {
          font-size: 33px;
          text-align: center;
          padding-left: 10px; }
          #work-eria .contact-eria a .contact-in span img {
            width: 39px; }

#contact-main {
  background: #4b4a5c; }
  #contact-main .contact-content {
    padding-top: 150px; }
    #contact-main .contact-content h1 {
      text-align: center;
      color: #F6E677; }
    #contact-main .contact-content p {
      text-align: center;
      color: #FFF;
      margin-bottom: 50px; }
    #contact-main .contact-content button {
      width: 28%;
      margin: auto; }

footer {
  background: #4b4a5c; }
  footer #footer_main {
    padding: 50px; }
    footer #footer_main .copy {
      text-align: center;
      margin: 0;
      color: #b8b4ac;
      font-size: 15px; }
  @media (max-width: 549px) {
    footer #footer_main {
      padding: 30px; }
      footer #footer_main .copy {
        font-size: 11px; } }

/*# sourceMappingURL=style.css.map */
